<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The CloudAdvisory registration details</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
    </tr>
    {{ range . }}
    <tr>
        <td>{{.Fname}}</td>
        <td>{{.Email}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Country}}</td>
    </tr>
    {{ end }}
</table>

<a href="/new/">New User</a>

</body>
</html>